<html>
    <body>
        <span>{{_t "Hello {{ username }}!" }}</span>
        <blockquote>{{ _n "Singluar {{ count }}" "Plural {{ count }}" count="1" }}</blockquote>
        <p>{{_t "{{count}}% stuff" count=var}}</p>
    </body>
</html>
